<div class="container">

  <form action="#">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" name="attach" 
          (change)="fileChangeEvent($event);">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </form>
  
  <div class="row">
    <a class="col s12 waves-effect waves-light btn" 
      (click)="upload();">Attach</a>
  </div>

  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Attach File</h4>
    </li>
    <li class="collection-item" *ngFor="let f of fileData">
      <div>
        <i class="material-icons left red-text">delete</i>
        {{f}}<a class="secondary-content waves-effect" (click)="viewFile(f);">
        <i class="material-icons">send</i>
    </a>
      </div>
    </li>
  </ul>
</div>