<form (ngSubmit)="doLogin()" #loginForm="ngForm">
  <div class="row login-box">
    <div class="col s12 m4 offset-m4 center">
      <img class="circle responsive-img" src="http://lorempixel.com/150/150/">
    </div>
    <div class="input-field col s12 m4 offset-m4">
      <i class="material-icons prefix">account_circle</i>
      <input id="email" name="email" [(ngModel)]="login.email" required="required" #email_f ="ngModel"
             type="email" class="validate" placeholder="please input your email">
      <label for="email" data-error="xxxx">{{'email' | translate}}</label>
    </div>
    <div class="input-field col s12 m4 offset-m4">
      <i class="material-icons prefix">lock</i>
      <input id="password" name="password" [(ngModel)]="login.password" required="required"
             type="password" class="validate" pattern="\d{3,8}" placeholder="please input your password">
      <label for="password">{{ 'password' | translate }}</label>
    </div>
    <button type="submit" class="col s10 offset-s1 m4 offset-m4 btn blue darken-3" [disabled]="!loginForm.form.valid" >Login</button>
  </div>
</form>
<h5>
  {{login | json}}
</h5>