<div class="container">
  <div class="row" materialize="updateTextFields">
    <div class="input-field col s12 m6">
      <input [(ngModel)]="user.firstName" [placeholder]="'user.firstName' | translate" id="firstName" type="text" class="validate">
      <label for="firstName">{{'user.firstName' | translate}}</label>
    </div>
    <div class="input-field col s12 m6">
      <input [(ngModel)]="user.lastName" [placeholder]="'user.lastName' | translate" id="lastName" type="text" class="validate">
      <label for="lastName">{{'user.lastName' | translate}}</label>
    </div>
    <div class="input-field col s12 m6">
      <input [(ngModel)]="user.email" [placeholder]="'user.email' | translate" id="email" type="email" class="validate">
      <label for="email">{{'user.email' | translate}}</label>
    </div>
    <div class="input-field col s12 m6">
      <input [(ngModel)]="user.mobile" [placeholder]="'user.mobile' | translate" id="mobile" type="text" class="validate">
      <label for="mobile">{{'user.mobile' | translate}}</label>
    </div>
    <div class="input-field col s12 m6">
      <input [(ngModel)]="user.password" [placeholder]="'user.password' | translate" id="password" type="password" class="validate">
      <label for="password">{{'user.password' | translate}}</label>
    </div>
    <div class="input-field col s12 m6">
      <input [(ngModel)]="user.rePassword" [placeholder]="'user.re_password' | translate" id="re_password" type="password" class="validate">
      <label for="re_password">{{'user.re_password' | translate}}</label>
    </div>
  </div>
  <form>
    <div class="file-field input-field">
      <div class="btn">
        <span>{{'user.picture' | translate}}</span>
        <input type="file" name="avatar" 
          (change)="fileChangeEvent($event);readUrl($event);">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </form>
  <img [src]="url" alt="" />
  <div class="row">
    <a class="btn col s12" (click)="onSave();">Save</a>
  </div>
</div>
<input [(ngModel)]="user.firstName" 
  type="text" class="datepicker" 
  materialize="pickadate" 
  [materializeParams]="[{closeOnSelect: true, format: 'dd/mm/yyyy'}]">

{{user | json}}