<div class="row">
  <div class="input-field col s12">
    <input [(ngModel)]="customer.custCode" [placeholder]="'customer.code' | translate" id="cust_code" type="text" class="validate">
    <label for="cust_code">{{'customer.code' | translate}}</label>
  </div>
  <div class="input-field col s12">
    <input [(ngModel)]="customer.custName" [placeholder]="'customer.name' | translate" id="cust_name" type="text" class="validate">
    <label for="cust_name">{{'customer.name' | translate}}</label>
  </div>
  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>{{'company.code' | translate}}</label>
  </div>
  <a class="btn col s12" (click)="onSave();">Save</a>
</div>