<div class="container" materialize="updateTextFields">
  <div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="customer.custCode" [placeholder]="'customer.code' | translate" id="cust_code" type="text" class="validate">
      <label for="cust_code">{{'customer.code' | translate}}</label>
    </div>
    <div class="input-field col s12">
      <input [(ngModel)]="customer.custName" [placeholder]="'customer.name' | translate" id="cust_name" type="text" class="validate">
      <label for="cust_name">{{'customer.name' | translate}}</label>
    </div>
    <div class="input-field col s12">
      <select [(ngModel)]="customer.compCode" 
        materialize="material_select" 
        [materializeSelectOptions]="companyData"> 
        <option value="" disabled selected>Choose your option</option>
        <option *ngFor="let comp of companyData;" 
          [value]="comp.compCode">{{comp.compName}}</option>
      </select>
      <label>{{'company.code' | translate}}</label>
    </div>
    <a class="btn col s12" (click)="onSave();">Save</a>
  </div>
</div>

<p>
  {{customer | json}}
</p>
